<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSForcogsaPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WSForcogsaPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://dev.facturacfdi.mx:8081/WSTimbrado/WSForcogsaService"
                binding="basicHttpBinding" bindingConfiguration="WSForcogsaPortBinding"
                contract="Timbrado.FormasDigitales.WSForcogsa" name="WSForcogsaPort" />
        </client>
    </system.serviceModel>
</configuration>